#panel3 {
    background: transparent url(panel3.jpg) no-repeat top left;
    height:305px;
    width:503px;

}
#panel 15{
background: transparent url(panel5.jpg);
      height:556px;
      width: 572px;
       float:left

}#bubble1 {

     position: absolute;
     top: 15px;
     left: 37px;
     font-family: fantasy;
     font-size: 19px;
    width:


 }

.bubbles {
    position: absolute;
    font-family:fantasy;
    font-size: 19px;
    text-size: 18px;
    text-transform: uppercase;

}

#bubble2 {
    position: absolute;
    top: 21px;
    left: 162px;
    font-family: fantasy;
    font-size: 17px;
    width: 296px;
    text-transform: uppercase;
}

#bubble3 {
    position: absolute;
    top: 91px;
    left: 285px;
    font-family: fantasy;
    font-size: 15px;
    width: 130px;
    text-transform: uppercase;

 }

#bubble4 {
    position: absolute;
    top: 24px;
    left: 495px;
    font-family: fantasy;
    font-size: 16px;
    width: 139px;
    text-transform: uppercase;
}
#bubble5 {
    position: absolute;
    top: 24px;
    left: 724px;
    font-family: fantasy;
    font-size: 14px;
    width: 168px;
    text-transform: uppercase;
}
#bubble6 {
    position: absolute;
    top: 142px;
    left: 727px;
    font-family: fantasy;
    font-size: 15px;
    width: 168px;
    text-transform: uppercase;
}

#bubble7 {
    position: absolute;
    top: 288px;
    left: 821px;
    font-family: fantasy;
    font-size: 15px;
    width: 92px;
    text-transform: uppercase;
}
#bubble8 {
    position: absolute;
    top: 486px;
    left: 35px;
    font-family: fantasy;
    font-size: 15px;
    width: 92px;
    text-transform: uppercase;
}
#bubble9 {
    position: absolute;
    top: 488px;
    left: 260px;
    font-family: fantasy;
    font-size: 15px;
    width: 173px;
    text-transform: uppercase;

}
#bubble10 {
    position: absolute;
    top: 716px;
    left: 260px;
    font-family: fantasy;
    font-size: 15px;
    width: 173px;
    text-transform: uppercase;

}
#bubble11{
    position: absolute;
    top: 488px;
    left: 691px;
    font-family: fantasy;
    font-size: 15px;
    width: 173px;
    text-transform: uppercase;
}
#bubble12{
    position: absolute;
    top: 791px;
    left: 46px;
    font-family: fantasy;
    font-size: 16px;
    width: 173px;
    text-transform: uppercase;
}
#bubble13 {
    position: absolute;
    top: 788px;
    left: 426px;
    font-family: fantasy;
    font-size: 15px;
    width: 173px;
    text-transform: uppercase;
}
#bubble14{
    position: absolute;
    top: 799px;
    left: 749px;
    font-family: fantasy;
    font-size: 16px;
    width: 173px;
    text-transform: uppercase;
}


 .bump {
     display:margin-left:10px;

 }
 .bump 10
{
    margin: -left: 10px
;
}

.bump5 {
    margin-left:5px;
}